.c-article {
  padding: $medium-margin 0;
  border-bottom: 2px solid $border-color;

  &:last-child {
    border-bottom: 0;
  }

  &.-no-border {
    border-bottom: 0;
  }

  &.-floating {
    position: relative;
    padding: 0;
    margin-top: -90px;
    margin-bottom: -40px;

    background-color: $base-bg-color;

    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);

    z-index: 1;
  }

  .padded {
    padding: $medium-margin;
  }
}
