.c-explore-sidebar {
  position: absolute;
  top: $header-height-short + $header-height-tools;
  left: 0;
  height: calc(100% - #{$header-height-short} - #{$header-height-tools});
  width: 100%;
  background-color: $base-bg-color;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  @media #{$mq-medium} {
    width: rem(380);
    background-color: rgba($base-bg-color, 0.9);
  }

  > .actions {
    position: absolute;
    top: 0;
    right: -30px;
    > div {
      display: block;
      width: 30px;
      height: 39px;
      padding: 0;
      background-color: rgba($base-bg-color, 0.9);
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      >.toggle-status {
        @include hamburger-icon(10px, 2px, 2px, 1px, $thirth-color, $thirth-color);
      }
    }
  }

  > .content {
    position: relative;

    @media #{$mq-medium} {
      height: 100%;
    }

    .filters-tab {
      width: 100%;
      background-color: $alternative-bg-color;

      @media #{$mq-medium} {
        height: 39px;
      }

      > ul {
        position: relative;
        margin:  0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media #{$mq-medium} {
          height: rem(39);
          flex-direction: row;
        }

        > li {
          margin:  0;
          list-style: none;
        }
      }
    }

    .dataset-items {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }


    .layer {
      margin: 15px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > .title {
        margin-left: 8px;
        font-size: $small-font-size;
      }
      > .detail-link {
        width: 17px;
        flex-shrink: 0;
        text-align: center;
        > svg {
          height: 10px;
          width: 100%;
          fill: rgba($main-color, 0.3);
        }
      }
    }
  }

  > .actions-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$mq-medium} {
      display: none;
    }
  }

  &.-open {
    transform: translateX(0);
  }
}
