.c-partners-slider {

  .slick-slider {
    padding: $small-margin 0;
    margin-bottom: 0;
  }

  .logo {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      opacity: .8;
      max-width: 100%;
      height: auto;
      max-height: 40px;
    }
  }
}
