.c-switch {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 10px;
  flex-shrink: 0;
  line-height: 1;
  border-radius: 22px;
  background-color: rgba($inverse-bg-color, 0.3);
  cursor: pointer;
  transition: background-color 0.15s ease-out;

  &:after {
    content: " ";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 0;
    top: 2px;
    border-radius: 50%;
    background-color: $base-bg-color;
    cursor: pointer;
    transform: translateX(2px);
    transition: transform 0.15s ease-out;
  }

  &.-checked {
    background-color: $thirth-color;

    &:after{
      transform: translateX(9px);
    }
  }

  .layer & {
    margin-top: 0.45rem;
  }
}
