.c-twitter-feed {
  padding: $medium-margin;
  color: $inverse-font-color;
  background-color: $main-color;

  h3, a {
    color: $inverse-font-color;
  }

  h3 {
    margin: 0 0 $small-margin 0;
    text-align: center;
  }

  &.-sliced {
    margin-top: -200px;
    min-height: 260px;
  }

  .slick-slider {
    margin: 0;
  }

  .twitter-icon {
    text-align: center;
  }

  .tweet-item p {
    margin: 0;
  }
}
