
.c-datasets-list {
  h1,
  h2 {
    margin: 0;
    padding: 0;

    &:after { display: none; }
  }

  .list-container {
    padding: 12px 22px;
  }

  .c-dataset-item {
    margin-bottom: 10px;
  }

  .dataset-group {
    border-bottom: 2px solid #EEEEEE;
    padding: 24px 0;

    .group-title {
      font-size: 37px;
      line-height: 45px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .group-description {
      font-size: 15px;
      line-height: 26px;
      margin-bottom: 10px;
    }

    .c-collapsible-item {
      background-color: #F7F7F7;
      padding: 12px 22px;

      &.-hidden {
        background-color: transparent;

        .collapsible-title {
          margin-bottom: 0;
        }
      }

      .collapsible-title {
        margin-bottom: 10px;

        .c-icon {
          width: 12px;
          height: 12px;
        }
      }

      .collapsible-item-container {
        padding: 0 18px;
      }
    }
  }

  .sidebar-footer {
    padding: 12px 22px;

    p { margin: 0; }

    .footer-actions {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    .c-button {
      border: 1px solid $light-gold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
