
.c-icon {

  &.-small {
    width: 10px;
    height: 10px;
  }

  &.-normal {
    width: 12px;
    height: 12px;
  }

  &.-medium {
    width: 14px;
    height: 14px;
  }

  &.-big {
    width: 16px;
    height: 16px;
  }

  &.-bigger {
    width: 18px;
    height: 18px;
  }
}
