
.c-icon {
  width: 12px;
  height: 12px;

  &.-small {
    width: 10px;
    height: 10px;
  }

  &.-normal {
    width: 12px;
    height: 12px;
  }

  &.-medium {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }

  &.-big {
    width: 16px;
    height: 16px;
  }

  &.-bigger {
    width: 18px;
    height: 18px;
  }

  &.-extra-large {
    width: 24px;
    height: 24px;
  }

  .-theme-2 & {
    fill: $thirth-color;
  }

  .-theme-3 & {
    fill: $fourth-color;
  }
}
