.c-search {
  .label-container {
    display: flex;
    align-items: center;

    .c-icon {
      margin-left: 5px;
    }
  }

  input {
    font-size: 15px;
    line-height: 16px;
    border: 0;
    border-bottom: 1px solid $light-gold;
  }
}
