@import 'settings';
@import 'layouts';

.c-dataset-location-filter {
  padding: 0 40px;

  .c-tabs {
    justify-content: space-between;
    padding: 0;
  }

  .c-tabs > .tab {
    margin-top: 0;
    margin-bottom: 0;

    &.-active {
      &:after {
        background-color: $yellow-orange;
      }
    }
  }

  .c-tabs > .tab > .c-button {
    padding: 0;

    font-size: $regular-font-size;
  }
}
