// -- Color definition
$black: #000;

// white palette
$pale-grey: #eee;
$pale-white: #f7f7f7;
$white: #fff;
// blue palette
$dark-blue: #263e57;
$dark-slate-blue: #1a3e62;
// yellow palette
$light-gold: #ffc94e;
$yellow-orange: #efa600;

// leftovers (remove if possible)
$navy: #001e3c;
$dark-slate-blue-2: #173554;
$dark-white: #f4f7f8;
$light-blue: #425f7d;
$bay-of-many : #215075;

// -- Typography
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$secondary-font-family: "PT Serif", Georgia, serif;

$base-font-size: rem(15);
$base-line-height: 1.7;

// move
$header-font-family: "PT Serif", Georgia, serif;
$header-font-color: $dark-blue;

// remove
$h1-font-size: rem(62) !default;
$h2-font-size: rem(37) !default;
$h3-font-size: rem(22) !default;
$h4-font-size: rem(15) !default;

// $normal-font-size: rem(15);
// $small-font-size: rem(13);
$micro-font-size: rem(11); // remove


$tiny-font-size: 12px;
$small-font-size: 14px;
$regular-font-size: 15px;
$normal-font-size: 16px;
$big-font-size: 37px;
$huge-font-size: 62px;

// font-weights
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// move
$base-bg-color: $white;
$base-font-color: $dark-blue;

$inverse-bg-color: $dark-blue;
$inverse-font-color: $white;

$alternative-bg-color: $dark-white;

// Borders
$border-color: $pale-grey;
$border-color-blue: $light-blue;

// Links and buttons
$link-font-color: $yellow-orange;
$inverse-link-font-color: $light-gold;

$button-bg-color: $light-gold;
$button-font-color: $dark-blue;
$button-font-color-inverse: $white;

// App palette
$main-color: $dark-blue;
$secondary-color: $light-gold;

// Margins
$large-margin: 80px;
$medium-margin: 70px;
$small-margin: 30px;
$extra-small-margin: 16px;

// Sizes
$max-width: 1136;

$header-height: 80px;
$header-height-short: 60px;
$header-height-tools: 30px;
$sidebar-width: 430px;

// Breakpoints
$bp-medium: 40em;
$bp-large: 65em;

// Mediaqueries
$mq-medium: "screen and (min-width: #{$bp-medium})";
$mq-large: "screen and (min-width: #{$bp-large})";

// animations
$animation-time-4: .75s;
$ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
