@import 'settings';

.c-scenario-select {
  position: relative;
  z-index: 1;

  > div {
    border: 0;
    border-radius: 0;

    > div {
      border: 2px solid $border-color;
      border-radius: 0;
    }
  }
}
