@import 'settings';

.c-tool-timeseries-chart {
  position: relative;
  padding-top: 20px;
  border: 2px solid $border-color;
  border-top: 0;

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
  }
}
