@import 'settings';

.c-tool-timeseries-chart {
  position: relative;
  min-height: 100px; // Needed for the loader
  padding-top: 20px;
  border: 2px solid $border-color;
  border-top: 0;

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px 10px;

    .share-button {
      padding: 5px;
      cursor: pointer;

      > .c-icon {
        width: 17px;
        height: 15px;
        fill: $dark-blue;
      }
    }
  }

  .c-we-chart {
    height: 300px;
  }
}
