@import 'settings';
@import 'mixins';
@import 'layouts';

.c-tree-selector {
  cursor: pointer;

  .dropdown-content {
    display: none;
    position: absolute;
    border-top: rgba($black, .05) 1px solid;
    background: $white;
    box-shadow: 0 5px 8px rgba($black, .15);

    .node {
      display: flex;
      align-items: center;
      padding: 5px 10px;

      &.hide {
        display: none;
      }

      > label {
        position: relative;
        padding: 0 0 0 10px;
      }

      &:not(.parent-category) {
        > .toggle {
          visibility: hidden;
          pointer-events: none;
        }
      }

      .node-label {
        display: flex;
        align-items: center;

        font-size: $small-font-size;
        color: $dark-blue;

        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 0 10px 0 0;
          border: 1px solid $dark-blue;
          pointer-events: none;
        }
      }

      input[type="checkbox"] {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 16px;
        height: 16px;
        opacity: 0;
        cursor: pointer;

        &:checked + .node-label::before {
          content: '✔';
          color: $white;
          background: $dark-blue;
          border: 1px solid transparent;
          line-height: .9;
        }
      }

      &:hover {
        background: $pale-grey;
      }
    }
  }

  .dropdown {
    .tag-list {
      li::before { // Prevent style issue on the dashboards page
        content: none;
      }

      &:after {
        position: absolute;
        @include arrow(8px, 2px, 45deg);
        top: 12px;
        border-color: $dark-blue;
        right: 0;
        left: auto;
        z-index: 2;
        transform-origin: 50%;
        transform: translate(-50%, -50%) rotate(135deg);

        cursor: pointer;
      }
    }
  }

  .dropdown--active {
    position: relative;

    > .dropdown-trigger {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .dropdown-content {
      overflow: auto;
      display: block;
      max-height: 400px;
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      z-index: 3;

      > ul {
        margin: 0;
        padding: 0;
      }
    }

    .tag-list {
      &:after {
        transform: translate(-50%, -50%) rotate(225deg);
      }
    }
  }

  .dropdown-trigger {
    display: flex;
    align-items: center;
    padding: 10px 15px 0;
    border-bottom: 2px solid #EEEEEE;
    // border: 1px solid $dark-blue;
    // border-radius: 4px;
    overflow: auto;

    &:hover {
      text-decoration: none;
    }

    > span {
      display: inline-block;
      width: 100%;
    }

    input {
      border: none;
      outline: none;
    }
  }

  .searchModeOn li.node {
    padding-left: 0 !important;
  }

  .searchModeOn .toggle {
    display: none;
  }

  .toggle {
    z-index: 1;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0 0 0 15px;
    cursor: pointer;
  }

  .toggle.collapsed:after {
    position: absolute;
    @include arrow(8px, 2px, 135deg);
    top: 0;
    left: 0;
    border-color: $dark-blue;
    transform: rotate(135deg) translate(0, -50%);

    cursor: pointer;
  }

  .toggle.expanded:after {
    position: absolute;
    @include arrow(8px, 2px, 225deg);
    top: 0;
    left: 50%;
    transform: rotate(225deg) translate(0, -50%);
    border-color: $dark-blue;

    cursor: pointer;
  }

  // tags styles
  .tag-list {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    &:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 0;
      transform: rotate(45deg) translate(0, -50%);

      cursor: pointer;
    }

    > .tag-item {
      display: inline-block;
      margin: 0;
      cursor: pointer;

      input {
        background-color: transparent;

        &::-webkit-input-placeholder {
          font-family: "Open Sans";
          font-size: 15px;
          font-weight: bold;
          color: $header-font-color;
        }
        &::-moz-placeholder {
          font-family: "Open Sans";
          font-size: 15px;
          font-weight: bold;
          color: $header-font-color;
        }
        &:-ms-input-placeholder {
          font-family: "Open Sans";
          font-size: 15px;
          font-weight: bold;
          color: $header-font-color;
        }
      }


      &:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-top: 0;
        display: flex;
        flex: 1;

        > input[type="text"] {
          width: calc(100% - 16px);
        }
      }

      > .tag {
        position: relative;
        padding: 4px 20px 4px 10px;
        border-radius: 15px;

        background: $dark-blue;
        color: $white;
      }

      > .tag > .tag-remove {
        position: absolute;
        top: 50%;
        right: 7px;
        transform: translate(0, -50%);
        padding: 0;
        margin: 0;
        color: $white;
        cursor: pointer;
      }

      // selector placeholder
      > input[type="text"] {
        margin-bottom: 10px;
        font-family: $base-font-family;
        font-size: $small-font-size;
        color: $dark-blue;
        cursor: pointer;
      }
    }
  }

  & + .c-tree-selector {
    margin: 15px 0 0;
  }
}
