{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "styles": "./app/styles",
          "constants": "./app/scripts/constants",
          "pages": "./app/scripts/pages",
          "components": "./app/scripts/components",
          "containers": "./app/scripts/containers",
          "modules": "./app/scripts/modules",
          "helpers": "./app/scripts/helpers",
          "lib": "./app/scripts/lib",
          "actions": "./app/scripts/actions",
          "selectors": "./app/scripts/selectors",
          "services": "./app/scripts/services",
          "layout": "./app/scripts/layout"
        },
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  ]
}
