@import 'settings';
@import 'layouts';

.filters-tab {
  position: relative;
  width: 100%;
  background-color: #F7F7F7;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);

  @media #{$mq-medium} {
    height: 41px;
  }

  > .filters-toolbar {
    position: relative;
    margin: 0;
    padding: 0 22px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media #{$mq-medium} {
      height: rem(39);
      flex-direction: row;
    }

    > li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      list-style: none;

      &.filter-type {
        border-bottom: 3px solid transparent;

        &.-selected {
          border-bottom-color: $light-gold;
        }
      }

      > button {
        padding: 0;
        padding-bottom: 2px;
        line-height: 19px;
      }
      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(13);
        height: rem(13);
        margin-left: rem(5);
        margin-bottom: 6px;
        color: $inverse-font-color;
        font-weight: bold;
        font-size: 9px;
        line-height: 1;

        border-radius: 50%;
        background-color: $dark-blue;

        &.-hide {
          display: none;
        }
      }
    }
  }

  > .filters-list-container {
    position: relative;
    margin: 0;
    padding: 12px 22px;
    color: $base-font-color;
    background-color: #F7F7F7;
    overflow: auto;
    max-height: 235px;
    z-index: 3;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);

    > .pointer {
      position: absolute;
      top: -5px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-bottom: 5px solid $dark-slate-blue-2;
      transition: transform 0.15s ease-out;
    }

    .filter-type-header {
      > h3 {
        margin: 0;
        color: $base-font-color;
      }

      > .close-button {
        box-sizing: content-box;
        position: absolute;
        right: 22px;
        top: 15px;
        padding: 5px;
        cursor: pointer;

        svg {
          width: 9px;
          height: 9px;
          fill: $base-font-color;
        }
      }
    }

    > .filters-list {
      flex-direction: column;
      margin: .5rem 0 0 0;
      padding: 0;

      > li {
        padding: 0.4rem 0;
        margin: 0;
        display: flex;
        align-items: center;

        list-style: none;

        > .checkbox {
          width: 15px;
          height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;

          border: 1px solid $border-color-blue;
          margin-right: rem(9);

          > svg {
            width: 12px;
            height: 12px;
            fill: $base-font-color;
            opacity: 0;
          }

          &.-selected > svg {
            opacity: 1;
          }
        }

        &:hover {
          cursor: pointer;
          > .checkbox > svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
