.c-card {
  flex: 1;
  padding: $small-margin;
  margin: $medium-margin 0 0;

  h3 {
    margin-top: 0;
  }

  > .content {
    margin-top: $small-margin;
    margin-bottom: 5px;
    line-height: 28px;
  }

  > .link {
    display: block;
    margin-bottom: 1rem;
    font-weight: 700;
    color: $link-font-color;

    .-theme-2 & { color: $thirth-color; }
    .-theme-3 & { color: $fourth-color; }
  }

  &.-border {
    border: 2px solid $secondary-color;

    .-theme-2 & { border-color: $thirth-color; }
    .-theme-3 & { border-color: $fourth-color; }

    &.-border-neutral { border-color: $pale-grey; }
  }

  &.-inverse { color: $inverse-font-color; }

}
