.c-card-container {
  display: flex;
  flex-flow: column;
  padding: rem(30) rem(15);
  background-color: $dark-white;

  @media #{$mq-medium} {
    flex-flow: row wrap;
    justify-content: center;
    padding: rem(90) rem(70);
  }

  .c-simple-card {
    margin-bottom: rem(50);
    margin-left: rem(90);

    &:first-child {
      margin-left: 0;
    }
  }
}
