$content-header-height: 80px;

.c-content-card {
  width: 100%;
  min-height: 500px;
  margin: $medium-margin 0;
  position: relative;
  border: solid 2px $border-color;
  transition: box-shadow .3s ease-out, border-color .3s ease-out;

  &.-short {
    height: 350px;
    min-height: 0;
    > .header > .title {
      overflow: hidden;
      margin-right: .5rem;
      h3 {
        white-space: nowrap;
      }
    }
  }

  &.-large {
    height: 650px;
    min-height: 0;
  }

  &.-no-border {
    border: none;
  }

  &:not(&.-no-border):hover {
    border-color: transparent;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  }

  &.-bg {
    border: none;
    background-color: $secondary-color;
    > .header .legend {
      color: $inverse-font-color;
    }
  }

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: $content-header-height;

    .legend {
      font-size: $small-font-size;
      font-weight: 700;
      line-height: 1.8;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      color: $secondary-color;

      .-theme-2 & { color: $thirth-color; }
      .-theme-3 & { color: $fourth-color; }

      & + h3 {
        margin: 0 0 5px;
      }
    }
  }

  > .content {
    height: calc(100% - #{$content-header-height});
  }
}
