.c-explore-legend {
  position: absolute;
  left: auto;
  right: 10px;
  bottom: 10px;
  background-color: rgba($navy, 0.8);
  z-index: 1;
  min-width: 600px;
  transform: translateY(calc(100% + -40px));
  transition: transform 0.3s ease-out;

  > .action-container {
    text-align: right;
    > .help {
      color: $inverse-font-color;
      text-transform: uppercase;
    }
    > .action {
      display: inline-block;
      width: 30px;
      height: 30px;
      color: $inverse-font-color;
    }
    > .open {

    }
    > .close {
      display: none;
      position: absolute;
      top: -30px;
      right: 0;
      padding: 0;
      background-color: rgba($navy, 0.8);
    }
  }

  &.-open {
    transform: translateY(0);

    > .action-container  {
      > .help, > .open {
        display: none;
      }
      > .close {
        display: block;
      }
    }
  }

  &.-empty {
    transform: translateY(calc(100% + 40px));
  }
}

.legend-layer{
  padding: .5rem 0;
  border-bottom: 1px solid $main-color;

  &:last-of-type {
    border-bottom: none;
  }

  .handler {
    cursor: row-resize;
  }

  .title {
    color: $inverse-font-color;
    font-size: $small-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

  .legend {
    display: block;
    height: 10px;
    background: linear-gradient(to right, #00009C , #0046FF , #00FFFF , #0CFFCD , #68FF8A , #FEFF00 , #FF8F00 , #FF0000 , #800000);
  }

  .layer-actions {
    display: flex;
    align-items: center;
    >.icon {
      width: 21px;
      height: 21px;
      margin-right: .5rem;
      border: 1px solid rgba($inverse-font-color, 0.2);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      > svg {
        fill: $inverse-font-color;
      }
      &.-info {
        font-family: $header-font-family;
        font-size: $small-font-size;
        font-weight: 700;
        color: $inverse-font-color;
      }
      &:hover {
        background-color: $inverse-font-color;
        border-color: $inverse-font-color;
        color: $base-font-color;
        > svg {
          fill: $base-font-color;
        }
      }
    }
  }
}
