.c-explore-map {
  top: $header-height-short;
  left: $sidebar-width;
  bottom: 0;
  width: calc(100% - #{$sidebar-width});
  position: absolute;
  z-index: 0;

  &.-embed {
    top: 0;
    left: 0;
    width: 100%;

    .c-loading-spinner {
      top: 0;
      left: 0;
      width: 100%;
    }

  }

  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: $inverse-bg-color;
  }

  .c-loading-spinner {
    top: $header-height-short;
    left: $sidebar-width;
    width: calc(100% - 380px);
  }

  .leaflet-pane { z-index: 0}

  .leaflet-top, .leaflet-bottom {
    z-index: 1;
  }

  .leaflet-control-zoom {
    display: flex;
    flex-flow: column;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 68px;
    border: 0;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.15);

    .leaflet-control-zoom-in {
      border-bottom: 1px solid ;
    }

    a {
      width: 30px;
      height: 30px;
      margin: 0;
      display: inline-block;

      font-size: $normal-font-size;
      -webkit-font-smoothing: subpixel-antialiased;
      color: $navy;

      border: none;
      border-radius: 0;
      border-left: 1px solid rgba($base-bg-color, 0.1);
      background-color: $white;

      &:hover { opacity: .6; }
    }
    .leaflet-control-zoom-in {
      position: relative;
      border-radius: 0;
    }
    .leaflet-control-zoom-out {
      position: relative;
      border-radius: 0;
    }
  }

  .leaflet-control-attribution a {
    color: $main-color;
  }
}
