.c-explore-legend {
  position: absolute;
  left: auto;
  right: 10px;
  bottom: 10px;
  background-color: rgba($navy, 0.8);
  z-index: 1;
  width: 500px;
  transform: translateY(calc(100% - 40px));

  > .action-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > .help {
      margin-right: 1rem;
      color: $inverse-font-color;
      font-size: $small-font-size;
      font-weight: 700;
      text-transform: uppercase;
    }
    > .action {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      color: $inverse-font-color;
      > svg {
        fill: $inverse-font-color;
      }
    }
    > .close {
      display: none;
      position: absolute;
      top: -30px;
      right: 0;
      padding: 0;
      background-color: rgba($navy, 0.8);
    }
  }

  &.-open {
    transform: translateY(-10px);
    transition: transform 0.3s ease-out;

    > .action-container  {
      > .help, > .open {
        display: none;
      }
      > .close {
        display: flex;
      }
    }
  }

  &.-empty {
    transform: translateY(calc(100% + 40px));
  }
}

.legend-layer{
  position: relative;

  padding: .5rem 0 .5rem .5rem;
  border-bottom: 1px solid $main-color;

  color: $inverse-font-color;
  font-size: $small-font-size;
  font-weight: 700;
  text-transform: uppercase;

  z-index: 1;

  &:last-of-type {
    border-bottom: none;
  }

  .handler {
    display: flex;
    cursor: row-resize;
    position: absolute;
    left: .5rem;
    top: 10px;
    > svg {
      fill: rgba($inverse-font-color, .4)
    }
  }

  .legend {
    display: block;
    margin-top: .5rem;

    font-size: $micro-font-size;

    &.-gradient {
      > .colors {
        height: 7px;
        margin-bottom: 1px;
      }
      > .values {
        display: flex;
        justify-content: space-between;
      }
    }
    &.-cloropleth {
      span {
        width: 100%;
        display: block;
        text-align: center;
        &.-color {
          height: 7px;
          margin-bottom: 1px;
        }
      }
    }
    &.-basic, &.-line {
      .item {
        display: flex;
        align-items: center;
        margin: 5px 0;
        > .color, >.icon {
          flex-shrink: 0;
          display: block;
          height: 13px;
          width: 13px;
          margin-right: .5rem;
        }
        >.icon {
          width: 18px;
          height: 18px;
          background-size: cover;
        }
        > .value {
          opacity: 0.7;
          line-height: 1.5;
        }
      }
    }
    &.-line {
      .item > .color {
        width: 20px;
        height: 2px;
      }
    }
  }

  .layer-actions {
    display: flex;
    align-items: center;
    >.icon {
      width: 21px;
      height: 21px;
      margin-right: .5rem;
      border: 1px solid rgba($inverse-font-color, 0.2);
      border-radius: 50%;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      > svg {
        fill: $inverse-font-color;
      }
      &.-info {
        font-family: $header-font-family;
        text-transform: none;
      }
      &:hover {
        background-color: $inverse-font-color;
        border-color: $inverse-font-color;
        color: $base-font-color;
        > svg {
          fill: $base-font-color;
        }
      }
    }
  }
}
