.partner-name {
  margin: 28px 0 15px;
}
.partner-logo {
  position: relative;
  z-index: 999;
  display: block;
  margin: 0 auto;
  top: 227px;
}
.partner-links {
  display: flex;
  justify-content: space-between;

  svg {
    display: inline-block;
    vertical-align: middle;
    fill: $yellow-orange;
    margin-right: 7px;
  }
}
