.c-switch {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 11px;
  flex-shrink: 0;
  line-height: 1;
  border-radius: 22px;
  border: 1px solid $dark-blue;
  transition: background-color 0.15s ease-out;
  cursor: pointer;

  &:after {
    content: " ";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 0;
    top: 2px;
    border-radius: 50%;
    background-color: $dark-blue;
    cursor: pointer;
    transform: translateX(2px);
    transition: transform 0.15s ease-out;
  }

  &.-checked {
    background-color: $light-gold;
    border-color: $light-gold;

    &:after{
      transform: translateX(9px);
      background-color: $white;
    }
  }

  .layer & {
    margin-top: 0.45rem;
  }
}
