.c-tooltip {
  width: 0;
  height: 0;

  & > .-tooltip-text {
    font-size: $micro-font-size;
    background-color: $dark-slate-blue-2;
    color: $white;
    text-align: center;
    position: fixed;
    padding: $small-margin / 6;
    z-index: 1;

    & > .-pointer {
      position: relative;
      top: 15px;
      left: 40%;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $dark-slate-blue-2;
    }

  }

  & > .-visible {
    visibility: visible;
  }

  & > .-hidden {
    visibility: hidden;
  }

}
