.c-tooltip {
  position: absolute;
  max-width: 300px;
  max-height: 200px;
  padding: 15px 10px;
  font-size: $small-font-size;
  background-color: $dark-slate-blue-2;
  color: $white;
  text-align: center;
  padding: $small-margin;
  z-index: 1;
  // TODO: exploreSidebar
  transform: translate(-50%, calc(-100% - 15px));

  & > .-tooltip-text {
    overflow-y: auto;
    max-height: 120px;

    h3 {
      margin-top: 0;
    }

    & * { color: $white; }

    & .table-data {
      text-align: left;

      & th {
        text-transform: capitalize;
        padding-right: 10px;
        font-size: $normal-font-size
      }
    }
  }

  &:after {
    position: absolute;
    content: ' ';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $dark-slate-blue-2;
  }

  &.-visible {
    display: inherit;
  }

  &.-hidden {
    display: none;
  }

}
