.c-tooltip {
  position: absolute;
  max-width: 300px;
  max-height: 200px;
  padding: 15px 10px;
  font-size: $small-font-size;
  background-color: $dark-slate-blue-2;
  color: $white;
  text-align: center;
  padding: $small-margin/2 $small-margin;
  z-index: 1;
  // TODO: exploreSidebar
  transform: translate(-50%, calc(-100% - 15px));

  > .tooltip-text {
    overflow-y: auto;
    max-height: 120px;
    color: $white;

    h3 {
      color: $white;
      margin-top: 0;
    }

    .table-data {
      text-align: left;

      th {
        text-transform: uppercase;
        padding-right: 10px;
        font-size: $small-font-size;
      }
    }
  }

  &:after {
    position: absolute;
    content: ' ';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $dark-slate-blue-2;
  }

  &.-visible {
    display: inherit;
  }

  &.-hidden {
    display: none;
  }

  &.-scroll {
    padding: 0;
    padding-bottom: .5rem;
    min-width: 260px;
    > .tooltip-text {
      max-height: none;
      overflow-y: visible;
      position: relative;
      .header {
        margin-top: 1rem;
        margin-bottom: .5rem;
        max-height: 28px;
        > h3 { margin: 0;}
      }
      .content {
        height: 110px;
        padding: .5rem $small-margin;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: $navy;

        &:before {
          @include arrow(7px, 2px, 45deg);
          position: absolute;
          top: 50px;
          right: 1rem;
          left: auto;
        }
        &:after {
          @include arrow(7px, 2px, 225deg);
          position: absolute;
          bottom: 10px;
          right: 1rem;
          left: auto;
          top: auto;
        }
      }
    }
  }

}
