@import 'settings';
@import 'layouts';
@import 'mixins';

.c-user-options {
  position: absolute;
  width: auto;
  min-width: 160px;
  margin-top: 11px;
  left: 50%;
  top: 50%;
  padding-top: 22px;

  z-index: 1000;
  transform: translate(-50%, 7px);

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 22px;
    pointer-events: none;
    border-top: 8px solid transparent;
    border-bottom: 8px solid $dark-slate-blue;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: translate(-50%, -100%)
  }

  .l-header.-expanded & {
    padding-top: 10px;
    &:before {
      top: 10px;
    }
  }

  .user-options-list {
    padding: 7px 15px;

    background-color: $dark-slate-blue;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);

    text-align: center;
    list-style: none;

    li {
      margin: 1rem 0;

      color: white;
      list-style: none;
      font-weight: 500;
      text-transform: none;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: $light-gold;
        }

        &.-current {
          font-weight: bold;
          color: $light-gold;
        }
      }
    }
  }
}
