html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  background-color: $base-bg-color;
}

#app {
  height: 100%;
}

h1, h2, h3 {
  font-family: $header-font-family;
  color: $header-font-color;

  .-inverse & {
    color: $inverse-font-color;
  }
}

h1, h2 {
  position: relative;
  text-align: center;
  line-height: 1.1;

  &:after {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 148px;
    height: 3px;
    left: 50%;
    margin-left: -74px;

    background-color: $secondary-color;

    .-theme-2 & { background-color: $thirth-color; }
    .-theme-3 & { background-color: $fourth-color; }

    content: "";
  }

  &.-left {
    text-align: left;

    &:after {
      left: 0;
      margin-left: 0;
    }
  }
}

h1 {
  font-size: $h1-font-size;
  padding-bottom: rem(29);
}

h2 {
  padding-bottom: rem(26);
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

a {
  color: $link-font-color;
  text-decoration: none;

  .-inverse & {
    color: $inverse-link-font-color;
  }

  .-inverse h1 &,
  .-inverse h2 &,
  .-inverse h3 & {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  .-theme-2 & {
    color: $thirth-color;
  }

  .-theme-3 & {
    color: $fourth-color;
  }
}

input, textarea, select, a, button {
  &:focus {
    outline: 0;
  }
}

nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    list-style: none;
    margin: 0;
  }
}

ul > li {
  list-style: square;
  margin: 1rem 0;

  h4 {
    margin-bottom: 0;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;

  img {
    margin: $small-margin 0;
  }

  .-inverse & {
    color: $inverse-font-color;
  }
}
