// Color definition
$white: #fff;
$dark-white: #f4f7f8;
$light-gold: #ffc94e;
$yellow-orange: #efa600;
$light-blue: #425f7d;
$dark-blue: #263e57;

$pale-grey: #eee;
$navy: #001e3c;
$dark-grey-blue: #263e57;
$dark-slate-blue: #1a3e62;
$dark-slate-blue-2: #173554;

// General settings
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size: rem(15);
$base-line-height: 1.7;

$base-bg-color: $white;
$base-font-color: $dark-blue;

$inverse-bg-color: $dark-blue;
$inverse-font-color: $white;

$alternative-bg-color: $dark-white;

// Fonts
$header-font-family: "PT Serif", Georgia, serif;
$header-font-color: $dark-blue;

$h1-font-size: rem(62) !default;
$h2-font-size: rem(37) !default;
$h3-font-size: rem(22) !default;
$h4-font-size: rem(15) !default;

$normal-font-size: rem(15);
$small-font-size: rem(13);
$micro-font-size: rem(11);

// Borders
$border-color: $pale-grey;
$border-color-blue: $light-blue;

// Links and buttons
$link-font-color: $yellow-orange;
$inverse-link-font-color: $light-gold;

$button-bg-color: $light-gold;
$button-font-color: $dark-blue;
$button-font-color-inverse: $white;

// App palette
$main-color: $dark-grey-blue;
$secondary-color: $light-gold;
$thirth-color: #6bbf51;
$fourth-color: #25b5cd;

// Margins
$large-margin: 80px;
$medium-margin: 50px;
$small-margin: 30px;

// Sizes
$max-width: 1136;

$header-height: 80px;
$header-height-short: 60px;
$header-height-tools: 30px;
$sidebar-width: 380px;

// Breakpoints
$bp-medium: 40em;
$bp-large: 65em;

// Mediaquerys
$mq-medium: "screen and (min-width: #{$bp-medium})";
$mq-large: "screen and (min-width: #{$bp-large})";
