// Fonts
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size: rem(15);

$header-font-family: "PT Serif", Georgia, serif;

$h1-font-size: rem(62) !default;
$h2-font-size: rem(37) !default;
$h3-font-size: rem(22) !default;
// $h4-font-size: rem(15) !default;
// $h5-font-size: rem(13) !default;

// Theme definition
$body-bg: white;
