@import 'settings';


.l-sign-in {
  .sign-in-container {
    > .sign-in-content {
      max-width: 350px;
      width: 100vw;
      padding: 50px;
      margin: 0 auto;
      border-radius: 4px;
      background: $white;

      @media #{$mq-medium} {
        max-width: 880px;
      }

      > h2 {
        margin-top: 0;
        color: $dark-blue;
      }

      > .social-btn-container {
        display: flex;
        justify-content: center;

        > .social-btn-list {
          padding: 0;
          margin: 0;

          > .social-btn-item {
            list-style: none;
            margin: 0;

            > a {
              display: inline-flex;
              justify-content: center;
              min-width: 255px;
              height: 45px;
              padding: 16px;;
              border-radius: 4px;
              color: $white;
              line-height: 1;
              transition: background .16s ease-in-out;

              &.-google {
                background: #d62d20;

                &:hover {
                  background: darken(#d62d20, 10%);
                }
              }

              &.-facebook {
                background: #3b5998;

                &:hover {
                  background: darken(#3b5998, 10%);
                }
              }

              &.-twitter {
                background: #55acee;

                &:hover {
                  background: darken(#55acee, 10%);
                }
              }

              &:hover {
                text-decoration: none;
              }
            }

            &:not(:first-child) {
              margin: 10px 0 0;
            }
          }
        }
      }
    }
  }
}
