<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Partnership for Resilience and Preparedness</title>
    <meta name="description" content="The Climate Partnership for Resilience and Preparedness (C-PREP) is a public-private collaboration whose mission is to help planners, investors, and resource managers around the globe rapidly assess and incorporate climate risks into their decisions by enhancing access to the best available data, and insights on climate change.">
    <meta name="viewport" content="width=1024">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" media="all">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
      integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
      crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.6/slick.css" media="all" />
  </head>
  <body>
    {{> ../static/icons/symbol-defs}}
    <div id="app"></div>
    {{#if htmlWebpackPlugin.options.prod}}
      <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBErDLm_DDD3EJLOU__SVsbr8Mj3grzMGQ"></script>
      <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
      <script src="https://unpkg.com/esri-leaflet@2.1.1"></script>
      <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
      <script>
        window.ga = function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create', '{{htmlWebpackPlugin.options.googleAnalytics}}', 'auto');
        ga('send', 'pageview');
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {{else}}
      <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBG0SybP0EKWH3Jvwki7IR5AMyO_cUeeQc"></script>
    {{/if}}
  </body>
</html>
