*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family-1;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  color: $color-1;
  height: 100%;
}

p {
  line-height: 1.7;
}

a {
  color: $color-11;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: $font-family-2;
  color: $color-1;
}

h1 {
  font-size: $font-size-huge;
}

h2 {
  position: relative;
  font-size: $font-size-big;
  padding-bottom: 26px;

  &::after {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 3px;

    background-color: $color-2;

    content: "";
  }
}

h3 {
  font-size: $font-size-medium;
}
