/* General layout */
$wrapper-max-width:      1140px;
$wrapper-mini-max-width:  700px;
$wrapper-padding:          70px;
$wrapper-tablet-padding:   30px;
$wrapper-mobile-padding:   15px;

/* Font families */
$font-family-1: "Open Sans", sans-serif;
$font-family-2: "PT Serif", serif;

/* Font sizes */
$font-size-tiny:    10px;
$font-size-x-small: 12px;
$font-size-small:   15px;
$font-size-normal:  18px;
$font-size-medium:  30px;
$font-size-big:     40px;
$font-size-x-big:   60px;
$font-size-huge:    80px;

/* Font weights */
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

/* Colors */
$color-1:  #263e57;
$color-2:  #ffc94e;
$color-3:  #25b5cd;
$color-4:  #6bbf51;
$color-5:  #ffffff;
$color-6:  #fafafa;
$color-7:  #173554;
$color-8:  #1a3e62;
$color-9:  #f4f6f7;
$color-10: #eeeeee;
$color-11: #efa600;
$color-12: #e3e3e3;
$color-13: #333333;

/* Breakpoints */
$breakpoint-mobile-small:  320px;
$breakpoint-mobile-large:  425px;
$breakpoint-tablet:        768px;
$breakpoint-laptop:       1024px;

/* Media queries */
$mq-mobile-small: "screen and (min-width: #{$breakpoint-mobile-small})";
$mq-mobile-large: "screen and (min-width: #{$breakpoint-mobile-large})";
$mq-tablet:       "screen and (min-width: #{$breakpoint-tablet})";
$mq-laptop:       "screen and (min-width: #{$breakpoint-laptop})";

$mq-wrapper-exact-width: "screen and (min-width: #{$wrapper-max-width})";
$mq-wrapper-width:       "screen and (min-width: #{$wrapper-max-width + 2 * $wrapper-padding})";

/* Navbar sizes */
$navbar-height:       80px;
$navbar-height-small: 44px;
