.-height100 {
  height: 100%;
}

.wrapper, .wrapper-mini {
  padding: 0 $wrapper-mobile-padding;

  @media #{$mq-mobile-large} {
    padding: 0 $wrapper-tablet-padding;
  }

  @media #{$mq-tablet} {
    padding: 0 $wrapper-padding;
  }

  @media #{$mq-wrapper-width} {
    padding: 0;
    margin: 0 auto;
    max-width: $wrapper-max-width;
  }
}

.wrapper-mini {
  max-width: $wrapper-mini-max-width;
  margin: 0 auto;
}
