.l-dashboards {

  .chart-container {
    margin: 50px 0;
    height: 400px;
  }

  .tab-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .iframe-container {
    margin: 40px 0;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-top: 60px;

    @media #{$mq-tablet} {
      justify-content: space-between;
      align-items: stretch;
    }

    > div {
      flex-basis: 100%;
      margin-bottom: 20px;

      @media #{$mq-tablet} {
        flex-basis: calc(50% - 10px);

        &.-large {
          flex-basis: 100%;
        }
      }
    }

    .logo {
      margin-top: 20px;
      max-height: 50px;
      max-width: 200px;
    }

    .button-container {
      flex-basis: 100%;
      margin-top: 30px;
      text-align: center;
    }
  }

  > .other-links {
    padding: 40px 0;
    background-color: $color-9;

    @media #{$mq-mobile-large} {
      padding: 70px 0;
    }

    @media #{$mq-tablet} {
      padding: 90px 0;
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;

      @media #{$mq-tablet} {
        justify-content: space-between;
        align-items: stretch;
      }

      > .card {
        flex-basis: 100%;
        padding: 20px 30px;
        margin-bottom: 20px;
        text-align: center;
        color: $color-5;
        background-color: $color-1;

        @media #{$mq-mobile-large} {
          padding: 50px 70px;
        }

        @media #{$mq-tablet} {
          flex-basis: calc(50% - 10px);
        }

        &.-map {
          background-image: url(asset_path('bg-dashboards-map@2x.png'));
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }

        &.-image {
          background-image: url(asset_path('bg-dashboards-image@2x.png'));
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }
    }
  }

  > .pre-header {
    padding: 40px 0 60px 0;
    background-color: $color-8;

    @media #{$mq-tablet} {
      padding: 70px 0 90px 0;
    }

    .content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      > div {
        text-align: center;
        flex-basis: 100%;
        margin-bottom: 50px;
        &:last-of-type { margin-bottom: 0; }

        @media #{$mq-tablet} {
          flex-basis: calc(50% - 20px);
          margin-bottom: 0;
        }

        > .button-container {
          display: inline-block;
          margin-top: 30px;
          @media #{$mq-tablet} {
            margin-top: 40px;
          }
        }
      }
    }
  }

  > .other-dashboards {
    padding: 30px 0 40px 0;
    background-color: $color-8;

    @media #{$mq-tablet} {
      padding: 50px 0 70px 0;
    }

    .other-cards {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 25px 0 0 0;

      > div {
        flex-basis: 100%;
        margin-bottom: 50px;
        &:last-of-type { margin-bottom: 0; }

        @media #{$mq-tablet} {
          flex-basis: calc(50% - 20px);
          margin-bottom: 0;
        }
      }

      .content {
        line-height: 28px;
      }

      .logo {
        max-width: 100%;
      }
    }
  }

}
