.l-homepage {

  p {
    margin: 0;
    line-height: 28px;
  }

  .homepage-mission {
    position: relative;
    margin-top: 20px;

    @media #{$mq-mobile-large} {
      margin-top: 50px;
    }

    @media #{$mq-tablet} {
      margin-top: 75px;
    }

    .content {
      margin-bottom: 30px;

      @media #{$mq-mobile-large} {
        margin-bottom: 70px;
      }

      @media #{$mq-tablet} {
        max-width: calc(40% - 35px);
        margin-bottom: 105px;
      }

      @media #{$mq-laptop} {
        max-width: calc(50% - 35px);
      }
    }

    .floating-card {
      background-color: $color-5;
      margin-bottom: 30px;

      @media #{$mq-mobile-large} {
        margin-bottom: 50px;
      }

      @media #{$mq-tablet} {
        position: absolute;
        padding: 0 30px 0 30px;
        margin-bottom: 0;
        top: -115px;
        right: 0;
        max-width: calc(60% - 35px);
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .15);
      }

      @media #{$mq-laptop} {
        padding: 0 60px 50px 60px;
        max-width: calc(50% - 35px);
      }

      img {
        margin: 0 -$wrapper-mobile-padding;
        margin-bottom: 20px;
        width: calc(100% + 2 * #{$wrapper-mobile-padding});

        @media #{$mq-mobile-large} {
          margin: 0 -#{$wrapper-tablet-padding};
          margin-bottom: 45px;
          width: calc(100% + 2 * #{$wrapper-tablet-padding});
        }

        @media #{$mq-tablet} {
          position: relative;
          left: -30px;
          width: calc(100% + 60px);
          margin: 0;
        }

        @media #{$mq-laptop} {
          left: -60px;
          width: calc(100% + 120px);
        }
      }
    }
  }

  .background-image {
    height: 300px;
    background: url(asset_path('home-mission@2x.jpg')) no-repeat center center;
    background-size: cover;

    @media #{$mq-tablet} {
      height: 600px;
    }
  }

  .homepage-problem {
    margin-top: 45px;
    margin-bottom: 30px;

    @media #{$mq-tablet} {
      margin-top: 90px;
      margin-bottom: 80px;
    }

    .text {
      margin-top: 25px;

      @media #{mq-tablet} {
        max-width: 60%;
      }
    }

    .indicators {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: calc(100% - 15px);
      padding: 5px 25px 20px 25px;
      color: $color-5;
      background-color: $color-3;
      box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);

      @media #{$mq-mobile-large} {
        margin-top: 30px;
      }

      @media #{$mq-tablet} {
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 30px);
        padding: 30px 60px 60px 60px;
        margin-top: 55px;
      }
    }

    .separator {
      height: 1px;
      background-color: rgba($color-12, .5);

      @media #{$mq-tablet} {
        height: auto;
        width: 1px;
      }
    }

    .indicator {
      padding-bottom: 15px;

      @media #{$mq-tablet} {
        padding-bottom: 0;
        padding: 0 10px;
      }

      .name {
        font-size: $font-size-small;
        text-transform: uppercase;
        letter-spacing: .4px;
      }

      .value {
        padding-left: 45px;
        font-size: $font-size-big;
        font-weight: $font-weight-bold;
        color: $color-6;
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNTQiIHZpZXdCb3g9IjAgMCAzMCA1NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+UGF0aDwvdGl0bGU+PHBhdGggZD0iTTUuMTIyIDE3LjExYTMuMDAyIDMuMDAyIDAgMCAxLTQuMjQyIDAgMi45OTcgMi45OTcgMCAwIDEgMC00LjI0MUwxMi44NzYuODc5YTMuMDAzIDMuMDAzIDAgMCAxIDQuMjQ4IDBsMTEuOTk3IDExLjk5YTIuOTk3IDIuOTk3IDAgMCAxIDAgNC4yNDIgMy4wMDIgMy4wMDIgMCAwIDEtNC4yNDIgMEwxOCAxMC4yMzV2NDAuNzQyYTIuOTk4IDIuOTk4IDAgMCAxLTMgMi45OTdjLTEuNjU2IDAtMy0xLjM0MS0zLTIuOTk3VjEwLjIzNWwtNi44NzggNi44NzZ6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtb3BhY2l0eT0iLjMiLz48L3N2Zz4=") no-repeat left top;

        sup {
          font-size: $font-size-normal;
          letter-spacing: -.5px;
        }
      }

      .context {
        margin-top: 20px;
        font-size: $font-size-small;
        color: $color-6;
        letter-spacing: .2px;
      }
    }

    .insight {
      position: relative;
      width: calc(100% - 15px);
      top: -20px;
      left: 15px;
      text-align: right;

      @media #{$mq-tablet} {
        width: calc(100% - 30px);
        top: -30px;
        left: 30px;
      }

      img {
        width: 100%;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
      }

      a {
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $color-13;
      }
    }
  }

  .homepage-analysis {
    padding-top: 40px;
    padding-bottom: 50px;
    border-top: 3px solid rgba($color-1, .1);
    border-bottom: 3px solid rgba($color-1, .1);

    @media #{$mq-tablet} {
      padding-top: 80px;
      padding-bottom: 90px;
    }

    .text {
      margin-top: 25px;

      @media #{$mq-tablet} {
        max-width: 60%;
      }
    }

    .cards {
      margin-top: 40px;

      @media #{$mq-tablet} {
        margin-top: 90px;
      }
    }

    .card {
      height: 250px;
      margin-bottom: 15px;

      @media #{$mq-tablet} {
        height: calc(650px / 2 - 5px);
        width: 40%;
        margin-bottom: 10px;
        float: left;
      }

      &.-big {
        height: 250px;

        @media #{$mq-tablet} {
          height: 650px;
          width: calc(60%  - 10px);
          margin-right: 10px;
        }
      }

      .content {
        height: calc(100% - 80px);
        padding: 10px 20px 20px;
      }

      > div { height: 100%; }
    }

    .link {
      text-align: right;
      a {
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $color-13;
      }
    }
  }

  .homepage-map {
    margin-top: 40px;
    margin-bottom: 50px;

    @media #{$mq-mobile-large} {
      margin-top: 50px;
      margin-bottom: 60px;
    }

    @media #{$mq-tablet} {
      margin-top: 90px;
      margin-bottom: 100px;
    }

    .text {
      margin-top: 25px;

      @media #{$mq-tablet} {
        max-width: 50%;
      }
    }

    .map {
      height: 300px;
      width: 100%;
      margin-top: 30px;
      box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);

      @media #{$mq-tablet} {
        height: 490px;
        margin-top: 60px;
      }
    }
  }

  .homepage-contact {
    padding: 40px 0;
    background-color: $color-8;

    @media #{$mq-mobile-large} {
      padding: 50px 0 60px 0;
    }

    @media #{$mq-tablet} {
      padding: 100px 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media #{$mq-tablet} {
        flex-direction: row;
      }

      > .content {
        color: $color-6;

        @media #{$mq-tablet} {
          flex-basis: calc(50% - 35px);
        }
      }
    }

    .contact-box {
      position: relative;
      margin-top: 20px;
      padding: 15px;
      padding-bottom: 35px;
      background-color: $color-6;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);

      @media #{$mq-tablet} {
        flex-basis: calc(50% - 35px);
        margin-top: 0;
        padding: 50px;
        padding-bottom: 50px;
      }

      > .email {
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        line-height: 28px;
        color: $color-13;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba($color-1, .3);
        outline: 0;
        margin-bottom: 40px;
        background-color: $color-6;
      }

      > .message {
        width: 100%;
        min-height: 170px;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        line-height: 32px;
        color: $color-13;
        border: 0;
        outline: 0;
        background-image: repeating-linear-gradient(to bottom, transparent, transparent 30.5px, rgba($color-1, .3) 32px);
        /* Issue with FF: https://bugzilla.mozilla.org/show_bug.cgi?id=1007064 */
        background-attachment: local;
        background-color: $color-6;
      }

      > button {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;

        @media #{$mq-tablet} {
          width: auto;
        }
      }
    }
  }

}
