.l-partnership {
  h1,h2,h3 {
    text-align: center;
  }

  .text-content {
    &:first-of-type {
      margin: -100px 0 40px 0;
      box-shadow: 0px -2px 1px 0px #c0c0c0;
      min-height: calc(100vh - 560px);
    }
    position: relative;
    z-index: 1;
    background: white;
    padding: 30px 60px;
    margin: 40px 0;
    h2:after {
      left: calc(50% - 75px);
    }

    > p {
      font-size: 15px;
      line-height: 1.7;
      font-family: $font-family-1;
      a {
        font-weight: $font-weight-bold;
      }
    }
    ul {
      span {
        display: block;
        font-weight: $font-weight-bold;
      }
    }
    .-partner {
      .-partner-card {
        width: 345px;
        .imagepending {
          background: #d8d8d8;
          width: 100%;
          height: 150px;
          display: block;
        }
        h4 {
          font-family: $font-family-2;
          font-size: 22px;
          font-weight: $font-weight-bold;
          color: $color-1;
        }
      }
    }
  }
  .homepage-contact {
    margin: 80px 0 100px;
    .wrapper {
      padding: 0;
    }

    @media #{$mq-mobile-large} {
    }

    @media #{$mq-tablet} {
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media #{$mq-tablet} {
        flex-direction: row;
      }

      > .content {
        color: $color-6;

        @media #{$mq-tablet} {
          flex-basis: 100%;
        }
      }
    }

    .contact-box {
      position: relative;
      margin-top: 20px;
      padding: 15px;
      padding-bottom: 35px;
      background-color: $color-6;
      border: solid 1px #c4cad0;

      @media #{$mq-tablet} {
        flex-basis: 100%;
        margin-top: 0;
      }

      > .email {
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        line-height: 28px;
        color: $color-13;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba($color-1, .3);
        outline: 0;
        margin-bottom: 40px;
        background-color: $color-6;
      }

      > .message {
        width: 100%;
        min-height: 170px;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        line-height: 32px;
        color: $color-13;
        border: 0;
        outline: 0;
        background-image: repeating-linear-gradient(to bottom, transparent, transparent 30.5px, rgba($color-1, .3) 32px);
        /* Issue with FF: https://bugzilla.mozilla.org/show_bug.cgi?id=1007064 */
        background-attachment: local;
        background-color: $color-6;
      }

      > button {
        position: absolute;
        bottom: -10px;
        left: calc(100% - 75px);
        transform: translateX(-50%);
        width: 180px;

        @media #{$mq-tablet} {
        }
      }
    }
  }
}
