.l-partners {

  .text-content {
    margin: 30px 0 20px 0;

    @media #{$mq-mobile-large} {
      margin: 50px 0 40px 0;
    }

    > p { line-height: 1.5; }
  }

  .partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    @media #{$mq-mobile-large} {
      margin: 30px 0 50px 0;
    }

    > a {
      flex-basis: 100%;
      margin: 20px 0;
      text-align: center;

      @media #{$mq-mobile-large} {
        flex-basis: 50%;
      }

      @media #{$mq-tablet} {
        flex-basis: 33.3%;
      }

      img {
        display: inline-block;
        max-width: 130px;
        max-height: 70px;
      }
    }
  }

}
