apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: {name}-staging
  name: {name}-staging
spec:
  revisionHistoryLimit: 0
  template:
    metadata:
      annotations:
        chaos.alpha.kubernetes.io/enabled: "true"
      labels:
        name: {name}-staging
    spec:
      tolerations:
      - key: "type"
        operator: "Equal"
        value: "webapps"
        effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: type
                operator: In
                values:
                - webapps
      containers:
      - name: {name}-staging
        image: vizzuality/{name}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "0Mi"
            cpu: "0m"
        env:
          - name: PORT
            value: "3000"
          - name: NODE_ENV
            value: production
          - name: SHORT_URL_API_TOKEN
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_SHORT_URL_API_TOKEN
          - name: SPARKPOST_API_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_SPARKPOST_API_KEY
          - name: MAIL_RECIPIENTS
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_MAIL_RECIPIENTS
          - name: MAIL_FROM
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_MAIL_FROM
          - name: TWITTER_CONSUMER_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_TWITTER_CONSUMER_KEY
          - name: TWITTER_CONSUMER_SECRET
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_TWITTER_CONSUMER_SECRET
          - name: TWITTER_ACCESS_TOKEN_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_TWITTER_ACCESS_TOKEN_KEY
          - name: TWITTER_ACCESS_TOKEN_SECRET
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_TWITTER_ACCESS_TOKEN_SECRET
        ports:
          - containerPort: 3000

      restartPolicy: Always
