$footer-bg-color: $dark-slate-blue;
$footer-border-color: $dark-slate-blue-2;

.l-footer {
  background-color: $footer-bg-color;
}

.l-footer-top {
  padding: $small-margin 0;
}

.l-footer-down {
  padding: $small-margin 0;
}

.footer-sep-item {
  width: 100%;
  height: 0;
  border: 1px solid $footer-border-color;
}
