$header-bg-color: $dark-slate-blue-2;

.l-header.-float {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.l-header-nav {
  position: relative;
  background-color: $dark-slate-blue;
  height: $header-height;
  z-index: 1;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);

  &.-no-bg {
    background-color: transparent;
  }

  &.-short {
    height: $header-height-short;
  }

  .logo {
    position: relative;
    display: block;
    float: left;

    &:after {
      display: block;
      content: "BETA";
      position: absolute;
      top: 100%;
      right: 0;

      font-family: $header-font-family;
      font-weight: bold;
      font-style: italic;
      font-size: 12px;
    }
  }

  &.-short .logo {
    max-width: 170px;
    &:after {
      font-size: 10px;
    }
  }

  &.-short .user-avatar {
    width: 35px;
    height: 35px;
  }
}

.l-header-tools-map {
  height: $header-height-tools;
  position: relative;
  margin-right: 140px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: rgba($navy, .9);
  z-index: 1;
}

.l-header-banner {
  position: relative;
  margin-top: -$header-height;

  background-color: $header-bg-color;
}

.l-header.-expanded .l-header-nav .row {
  max-width: none;
}

.l-breadcrumbs {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
}
