.l-how-to {
  .cards {
    .column {
      display: flex;
    }

    .c-card {
      display: flex;
      flex-direction: column;
    }

    .link-placeholder {
      display: block;
      margin: 1rem 0;
      font-size: $small-font-size;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark-blue;
      opacity: .5;
    }
  }

  .how-to-card {
    display: flex;

    p {
      margin: 0;
    }

    .how-to-icon {
      width: 57px;
      height: 57px;
      margin: 0 50px;
    }
  }

  .how-to-wrapper {
    margin: 100px 0;
  }
}
