@import 'settings';

.c-nexgddp-tool {
  margin: $small-margin 0 $large-margin 0;

  > .filters {
    margin-bottom: $small-margin;
    
    label {
      font-size: 13px;
      font-weight: bold;
    }
  }

  > .toolbar {
    border: 2px solid $border-color;
    padding: 5px 15px;
  }

  > .map {
    border: 2px solid $border-color;
    border-top: 0;
  }
}
