.c-legend-control {
  position: absolute;
  z-index: 1000;
  background: white;
  max-width: 500px;
  min-width: 260px;
  width: 100%;

  > button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
  }

  &.-topright { top: 30px; bottom: 'auto'; left: 'auto'; right: 30px }
  &.-topleft { top: 0; bottom: 'auto'; left: 0; right: 'auto' }
  &.-bottomright { top: 0; bottom: 'auto'; left: 'auto'; right: 0 }
  &.-bottomleft { top: 'auto'; bottom: 0; left: 0; right: 'auto' }
}

.c-legend-panel {
  border: 1px solid #ddd;

  h2 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;

    &:after {
      display: none;
    }
  }

  &.-collapsed {
    display: none;
  }
}
