@import 'settings';
@import 'layouts';

.c-user {
  position: relative;
  align-self: center;
  padding: 15px 0;

  &:hover {
    cursor: pointer;
  }

  .icon-nav-user {
    width: 50px;
    height: 50px;
  }

  .user-empty {
    padding: 0 15px;

    svg {
      fill: $white;
    }
  }

  .user-avatar {
    display: inline-block;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .user-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    font-size: 22px;
    font-weight: 500;

    background-color: darken($dark-slate-blue, 10);
    border-radius: 100%;
  }
}

.l-header-nav.-short {
  .c-user {
    padding: 0;

    .icon-nav-user, .user-initials, .user-avatar {
      width: 35px;
      height: 35px;
    }
  }
}
