.c-legend-nexgddp-toolbar {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  position: relative;

  .c-date-range-select {
    width: 60%;
  }
  .c-scenario-select {
    width: 40%;
  }

  .c-date-range-select,
  .c-scenario-select {
     > .Select {
      min-width: 50px;
    }
  }
}
