@import 'settings';

.c-tool-map {
  position: relative;

  .leaflet-container {
    z-index: 0;
    position: relative;
  }

  .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar {
    border: 0;
  }

  .leaflet-control-zoom {
    display: flex;
    flex-flow: column;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 60px;
    border: 0;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.15);

    .leaflet-control-zoom-in {
      border-bottom: 1px solid ;
    }

    a {
      width: 30px;
      height: 30px;
      margin: 0;
      display: inline-block;

      font-size: $normal-font-size;
      line-height: 26px;
      -webkit-font-smoothing: subpixel-antialiased;
      color: $navy;

      border: none;
      border-radius: 0;
      background-color: $white;

      &.leaflet-disabled {
        background-color: darken($white, 10%);
        color: rgba($navy, 0.5);
      }
    }

    .leaflet-control-zoom-in {
      position: relative;
      border-radius: 0;
    }

    .leaflet-control-zoom-out {
      position: relative;
      border-radius: 0;
    }
  }

  > .c-basemap-control {
    right: 20px;
    bottom: 20px;

    > button {
      border-radius: 0;
      box-shadow: 0 7px 15px 0 rgba(0,0,0,0.15);
    }
  }

  > .switch-button,
  > .switch-button.-filled {
    position: absolute;
    top: 15px;
    left: 15px;
    color: $button-font-color;
    z-index: 10;
  }

  > .current-layer-label {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    color: $button-font-color;
    font-weight: bold;
    font-size: 22px;
    font-family: "PT Serif", serif;

    &.-right {
      left: auto;
      right: 15px;
    }
  }
}
