apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: {name}-preproduction
  name: {name}-preproduction
spec:
  revisionHistoryLimit: 2
  template:
    metadata:
      annotations:
        chaos.alpha.kubernetes.io/enabled: "true"
      labels:
        name: {name}-preproduction
    spec:
      containers:
      - name: {name}-preproduction
        image: vizzuality/{name}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "128Mi"
          limits:
            memory: "512Mi"
        env:
          - name: PORT
            value: "3000"
          - name: NODE_ENV
            value: production
          - name: SHORT_URL_API_TOKEN
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_SHORT_URL_API_TOKEN
          - name: SPARKPOST_API_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_SPARKPOST_API_KEY
          - name: MAIL_RECIPIENTS
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_MAIL_RECIPIENTS
          - name: MAIL_FROM
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_MAIL_FROM
          - name: TWITTER_CONSUMER_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_TWITTER_CONSUMER_KEY
          - name: TWITTER_CONSUMER_SECRET
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_TWITTER_CONSUMER_SECRET
          - name: TWITTER_ACCESS_TOKEN_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_TWITTER_ACCESS_TOKEN_KEY
          - name: TWITTER_ACCESS_TOKEN_SECRET
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: PREP_TWITTER_ACCESS_TOKEN_SECRET
        ports:
          - containerPort: 3000

      restartPolicy: Always
