.c-button {
  font-family: $font-family-1;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $color-1;
  border: none;
  outline: none;
  padding: 7px 30px;
  cursor: pointer;
  background-color: transparent;

  &.-theme-color {
    color: $color-2;
    .-theme-2 & { color: $color-4; }
    .-theme-3 & { color: $color-3; }
  }

  &.-inverse { color: $color-6; }

  &.-action {
    display: flex;
    align-items: center;
    padding: .3rem .5rem;

    font-family: $font-family-1;
    font-size: $font-size-x-small;
    font-weight: $font-weight-bold;
    color: $color-1;
    line-height: 1.8;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    background: none;

    border: 0;

    cursor: pointer;
    outline: none;

    > .icon {
      margin-right: 5px;

      path {
        fill: $color-2;
        .-theme-2 & { fill: $color-4; }
        .-theme-3 & { fill: $color-3; }
      }

    }
  }

  &.-border {
    border: 2px solid $color-2;
    &.-fill { background-color: $color-2; }

    .-theme-2 & {
      border-color: $color-4;
      &.-fill { background-color: $color-4; }
    }

    .-theme-3 & {
      border-color: $color-3;
      &.-fill { background-color: $color-3; }
    }

    &.-border-neutral {
      border-color: $color-1;
      &.-fill { background-color: $color-1; }
    }
  }
}
