.c-card {
  padding: 20px 30px;

  > .content {
    margin-top: 25px;
    margin-bottom: 5px;
    line-height: 28px;
  }

  > .link {
    display: block;
    margin-bottom: 18px;
    font-weight: $font-weight-bold;
    color: $color-11;

    .-theme-2 & { color: $color-4; }
    .-theme-3 & { color: $color-3; }
  }

  &.-border {
    border: 2px solid $color-2;

    .-theme-2 & { border-color: $color-4; }
    .-theme-3 & { border-color: $color-3; }

    &.-border-neutral { border-color: $color-10; }
  }

  &.-inverse { color: $color-5; }

}
