.c-content-card {
  position: relative;
  border: solid 2px #eeeeee;
  transition: box-shadow .3s ease-out, border-color .3s ease-out;

  &.-no-border {
    border: none;
  }

  &:not(&.-no-border):hover {
    border-color: transparent;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  }

  > .header {
    padding: 10px 20px 20px;

    > .legend {
      font-family: $font-family-1;
      font-weight: $font-weight-bold;
      font-size: $font-size-x-small;
      line-height: 1.8;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      color: $color-11;

      .-theme-2 & { color: $color-4; }
      .-theme-3 & { color: $color-3; }
    }

    >.tooltip {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  > .content {
    height: 400px;
  }
}
