.c-data-map {
  height: 100%;
  position: relative;
  > .map {
    height: 100%;
  }
  .c-loading-spinner {
    z-index: 1;
  }
  .leaflet-top, .leaflet-bottom {
    z-index: 0;
  }
  .leaflet-top {
    top: 50px;
  }
  .leaflet-control-zoom {
    box-shadow: none;
    a, a:hover {
      width: 30px;
      height: 30px;
      margin-bottom: 2px;

      font-size: $font-size-medium;
      -webkit-font-smoothing: subpixel-antialiased;
      text-indent: -99999px;

      border: none;
      border-radius: 0;
      background-color: rgba($color-7, 0.9);
    }
    .leaflet-control-zoom-in {
      position: relative;
      border-radius: 0;

      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: $color-5;
        transition: background-color 0.1s ease-in;
      }

      &:before {
        top: 10px;
        left: 14px;
        width: 2px;
        height: 10px;

      }
      &:after {
        top: 14px;
        left: 10px;
        width: 10px;
        height: 2px;
      }
      &:hover:before, &:hover:after {
        background-color: $color-4;
      }
    }
    .leaflet-control-zoom-out {
      position: relative;
      border-radius: 0;

      &:after {
        content: "";
        position: absolute;
        top: 14px;
        left: 10px;
        width: 10px;
        height: 2px;

        background-color: $color-5;
        transition: background-color 0.1s ease-in;
      }
      &:hover:after {
        background-color: $color-4;
      }
    }
  }
}
