.c-data-map-legend {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color-1, 0.8);
  z-index: 1;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;

  @media #{$mq-mobile-large} {
    left: auto;
    right: 10px;
    bottom: 10px;
    min-width: 400px;
    transform: translateY(calc(100% + 10px));
  }

  > .actions {
    position: absolute;
    top: -30px;
    right: 0;
    background-color: $color-7;
    > div {
      display: block;
      width: 30px;
      height: 30px;
      padding: 0;
      background-color: $color-7;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      >.toggle-status {
        @include hamburger-icon(10px, 2px, 2px, 1px, $color-5, $color-4);
      }
    }
  }

  > .content {
    padding: 8px;
    > .layer{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 0 8px 0;
      justify-content: center;
      @media #{$mq-mobile-large} {
        flex-wrap: no-wrap;
      }
      &:last-of-type {
        margin: 0;
      }
      > .title {
        flex-grow: 1;
        flex-basis: 100%;
        order: 0;
        color: $color-5;
        margin-right: 10px;
        text-align: center;
        font-family: $font-family-1;
        font-weight: $font-weight-bold;
        font-size: $font-size-x-small;
        text-transform: uppercase;
        margin: 0 0 3px 0;
        @media #{$mq-mobile-large} {
          flex-basis: auto;
          order: 1;
          margin: 0;
          text-align: left;
        }
      }
      > .legend {
        flex-grow: 0;
        flex-basis: 50px;
        order: 1;
        height: 10px;
        background: linear-gradient(to right, #00009C , #0046FF , #00FFFF , #0CFFCD , #68FF8A , #FEFF00 , #FF8F00 , #FF0000 , #800000);
        margin-right: 10px;
        @media #{$mq-mobile-large} {
          order: 0;
        }
      }
      > .actions {
        display: flex;
        order: 3;
        >.icon {
          width: 21px;
          height: 21px;
          margin-right: 4px;
          border: 1px solid rgba($color-5, 0.2);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          > svg {
            fill: $color-5;
          }
          &.-info {
            font-family: $font-family-2;
            font-size: $font-size-x-small;
            font-weight: $font-weight-bold;
            color: $color-5;
          }
          &:hover {
            background-color: $color-5;
            border-color: $color-5;
            color: $color-1;
            > svg {
              fill: $color-1;
            }
          }
        }
      }
    }
  }

  &.-open {
    transform: translateY(0);
  }

  &.-empty {
    transform: translateY(calc(100% + 40px));
  }
}
