.c-metadata-list {
  .sub-title {
    margin: 5px 0;
  }
  .list {
    list-style: none;
    padding: 0;
    > li {
      padding: 5px 0;
      > span {
        font-size: $font-size-small;
        &:first-of-type {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  a {
    color: $color-1;
    text-decoration: underline;
  }
}
