.c-filter-tab {
  background-color: $color-9;

  > ul {
    position: relative;
    margin:  0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media #{$mq-mobile-small} {
      height: 50px;
      flex-direction: row;
    }

    > li {
      position: relative;
      margin:  0;
      height: 100%;
      line-height: 1;
      font-size: $font-size-x-small;
      font-weight: $font-weight-bold;
      letter-spacing: .4px;
      text-transform: uppercase;
      transition: opacity .3s ease-out;

      @media #{$mq-mobile-large} {
        line-height: 60px;
        font-size: $font-size-small;
      }
    }
  }
}
