.c-footer {
  color: $color-5;
  background-color: $color-7;

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;

    @media #{$mq-tablet} {
      justify-content: space-between;
    }

    > .media {
      flex-basis: 50px;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    > .links {
      margin: 0;
      margin-top: 10px;
      padding: 0;
      list-style: none;
      flex-basis: 100%;
      text-align: center;

      @media #{$mq-tablet} {
        margin-top: 0;
        flex-basis: auto;
        text-align: left;
      }

      > li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 15px;

        &:after {
          content: '';
          position: absolute;
          right: -8px;
          top: 7px;
          width: 1px;
          height: calc(100% - 10px);
          background-color: $color-2;

          .-theme-2 & { background-color: $color-4; }
          .-theme-3 & { background-color: $color-3; }
        }

        a {
          font-weight: $font-weight-bold;
          font-size: $font-size-small;
          color: $color-5;
          text-transform: uppercase;
          text-decoration: none;
        }

        &:last-of-type {
          margin-right: 0;
          &:after { content: none; }
        }
      }
    }
  }
}
