.c-footer {
  color: $color-5;
  background-color: $color-7;

  .partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0;
    border-bottom: 3px solid rgba(lighten($color-7, 20%), .3);

    a {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 20px;
      &:last-of-type { margin-bottom: 0; }

      @media #{$mq-mobile-large} {
        flex-basis: 50%;
        &:last-of-type { flex-basis: 100%; }
      }

      @media #{$mq-tablet} {
        flex-basis: auto;
        margin-bottom: 0;
        text-align: left;
        &:last-of-type { flex-basis: auto; }
      }
    }

    img.wri        { width: 114px; }
    img.esri       { width:  99px; }
    img.vizzuality { width: 105px; }
    img.nasa       { width:  65px; }
    img.descartes  { width: 126px; }

    img { max-width: 100%; }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0 15px 0;

    @media #{$mq-tablet} {
      justify-content: space-between;
    }

    > .media {
      flex-basis: 50px;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    > .links {
      margin: 0;
      margin-top: 10px;
      padding: 0;
      list-style: none;
      flex-basis: 100%;
      text-align: center;

      @media #{$mq-tablet} {
        margin-top: 0;
        flex-basis: auto;
        text-align: left;
      }

      > li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 15px;

        &:after {
          content: '';
          position: absolute;
          right: -8px;
          top: 7px;
          width: 1px;
          height: calc(100% - 10px);
          background-color: $color-2;

          .-theme-2 & { background-color: $color-4; }
          .-theme-3 & { background-color: $color-3; }
        }

        a {
          font-weight: $font-weight-bold;
          font-size: $font-size-small;
          color: $color-5;
          text-transform: uppercase;
          text-decoration: none;
        }

        &:last-of-type {
          margin-right: 0;
          &:after { content: none; }
        }
      }
    }
  }
}
