.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba($color-1, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @media #{$mq-laptop} {
    padding: 20px 60px;
  }

  > .modal {
    position: relative;
    padding: 2rem;;
    background-color: $color-5;
    max-width: $wrapper-max-width;

    @media #{$mq-mobile-large} {
      min-width: 370px;
    }
    @media #{$mq-tablet} {
      min-width: 620px;
    }

    @media #{$mq-laptop} {
      min-width: 860px;
    }

    > .close-button {
      position: absolute;
      top: -20px;
      right: 0px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      fill: $color-5;
      transition: fill .3s;
      &:hover { fill: $color-2; }
    }
  }
}

/* React animations for when the modal will appear */
.animation-appear {
  opacity: 0;
  .modal { transform: scale(1.1); }

  &.animation-appear-active {
    opacity: 1;
    transition: opacity .3s ease;

    .modal {
      transform: scale(1);
      transition: transform .2s ease-out;
      transition-delay: transform .1s;
    }
  }
}

/* Global animations for the modal */
.modal-enter, .modal-appear {
  opacity: 0;
  .modal { transform: scale(1.1); }

  &.modal-enter-active, &.modal-appear-active {
    opacity: 1;
    transition: opacity .3s ease;

    .modal {
      transform: scale(1);
      transition: transform .2s ease-out;
      transition-delay: transform .1s;
    }
  }
}

.modal-leave {
  opacity: 1;
  .modal { transform: scale(1); }

  &.modal-leave-active {
    opacity: 0;
    transition: opacity .3s ease;

    .modal {
      transform: scale(1.1);
      transition: transform .2s ease-out;
      transition-delay: transform .1s;
    }
  }
}
