.c-nav-tab {
  background-color: $color-9;

  ul {
    position: relative;
    margin:  0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media #{$mq-mobile-small} {
      height: 60px;
      flex-direction: row;
    }

    li {
      position: relative;
      margin:  0;
      height: 100%;
      font-size: $font-size-x-small;
      font-weight: $font-weight-bold;
      line-height: 60px;
      letter-spacing: .4px;
      opacity: .5;
      text-transform: uppercase;
      transition: opacity .3s ease-out;

      @media #{$mq-mobile-large} {
        font-size: $font-size-small;
      }

      a {
        display: inline-block;
        padding: 0 15px;
        height: 100%;
        color: $color-1;

        @media #{$mq-mobile-large} {
          padding: 0 35px
        }
      }

      &:after {
        content: '';
        position: absolute;
        left:   50%;
        bottom:   0;
        transform: translateX(-50%) scaleX(0);
        height: 2px;
        width: calc(100% - 2 * 15px);
        background-color: $color-1;
        transition: transform .3s ease-in-out;

        @media #{$mq-mobile-large} {
          width: calc(100% - 2 * 35px);
        }
      }

      &.-active {
        opacity: 1;
        &:after { transform: translateX(-50%) scaleX(1); }
      }

      &:hover {
        &:after { transform: translateX(-50%) scaleX(1); }
      }
    }
  }
}
