$navbar-breakpoint: 870px;

.c-navbar {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  transition: background-color .3s ease-out .3s;
  z-index: 3;

  @media screen and (min-width: #{$navbar-breakpoint}) {
    transition: none;
  }

  .content {
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-width: 260px;

    img {
      max-width: 70%;

      @media #{$mq-mobile-large} {
        max-width: 100%;
      }
    }
  }

  .navbar-toggle {
    @include hamburger-icon();

    @media screen and (min-width: #{$navbar-breakpoint}){
      display: none
    }
  }

  .navbar {
    flex-basis: 100%;
    position: absolute;
    top: $navbar-height;
    left: 0;
    right: 0;
    padding: 1rem;
    will-change: transform;
    transform-origin: top center;
    transform:scaleY(0);
    transition: .3s transform, background-color 0s .3s;
    z-index: 10;

    @media screen and (min-width: #{$navbar-breakpoint}) {
      position: static;
      flex-basis: auto;
      transform: none;
      padding: 0;
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
      opacity: 0;
      transition: opacity .3s ease-out;

      @media screen and (min-width: #{$navbar-breakpoint}){
        opacity: 1;
        flex-direction: row;
        position: static;
        flex-basis: auto;
        transform: none;
      }

      .link {
        margin: 5px;
        &:first-of-type { margin-left: 0; }

        > a {
          padding: 0 0 3px 0;
          color: $color-5;
          text-decoration: none;
          font-size: $font-size-small;
          font-weight: $font-weight-bold;
          line-height: 1.6;
          letter-spacing: .5px;
          text-transform: uppercase;
        }

        &.-active > a {
          border-bottom: 2px solid $color-2;
          .-theme-2 & { border-color: $color-4; }
          .-theme-3 & { border-color: $color-3; }
        }

        &.-secondary > a {
          font-weight: $font-weight-normal;
        }

        &.-disable > a {
          cursor: not-allowed;
          &:hover {
            opacity: 0.5;
          }
        }

        &.separator {
          padding: 0;
          display: inline-block;
          flex-basis: 1px;
          margin: 0 17px;
          width: 1px;
          height: $navbar-height-small;
          background-color: rgba($color-5, .3);
        }
      }
    }
  }

  &.-small {
    .content { height: $navbar-height-small; }
    .navbar-toggle { transform: scale(.8); }
    .navbar { top: $navbar-height-small; }

    .logo {
      height: calc(100% - 16px);

      img {
        height: 100%;
        max-width: none;
      }
    }
    .navbar .links .link > a {
      padding-bottom: 8px;
      border-bottom-width: 3px;
    }
  }

  &.-open {
    transition: background-color 0s ease-in-out;
    background-color: rgba($color-1, 0.8);

    .navbar {
      transform: scaleY(1);
      background-color: rgba($color-1, 0.8);
      transition: .3s transform, background-color 0s 0s;

      .links { opacity: 1; }
    }
  }

  &.-dark {
    background-color: rgba($color-7, 0.8);
    .navbar {
      background-color: rgba($color-7, 0.8);
      @media screen and (min-width: #{$navbar-breakpoint}){
        background-color: transparent;
      }
    }
  }
}
