.c-section-intro {
  position: relative;

  > .container {
    margin-top: -60px;

    @media #{$mq-tablet} {
      margin-top: -160px;
    }

    > .top-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      @media #{$mq-tablet} {
        flex-direction: row;
      }

      > .logo {
        height: 50px;

        > img {
          width: auto;
          height: 100%;
        }

      }

      > .author {
        margin-top: 1rem;
        text-align: center;
        font-family: $font-family-1;
        font-weight: $font-weight-bold;
        font-size: $font-size-normal;

        @media #{$mq-tablet} {
          margin-top: 0;
          text-align: right;
          color: $color-5;
        }

        > span {
          display: block;
          color: $color-2;

          .-theme-2 & { color: $color-4; }
          .-theme-3 & { color: $color-3; }
        }
      }
    }

    > .content {
      position: relative;
      padding: 1rem;
      background-color: $color-5;

      @media #{$mq-tablet} {
        padding: 4rem;
      }
      > .container {
        max-width: 700px;
        margin:0 auto;

        > p {
          display: block;
          color: $color-1;
          font-family: $font-family-1;
          font-size: $font-size-normal;
          line-height: 1.6;
          letter-spacing: -0.1px;
        }
      }

      &:after,
      &:before {
        content: "";
        width: 1px;
        height: 150px;
        position: absolute;
        top: 0;
        z-index: -1;
        display: none;

        @media #{$mq-tablet} {
          display: block;
        }
      }

      &:before {
        left: 0;
        box-shadow: -2px 0px 15px 0px rgba(0,0,0,0.5);
      }

      &:after {
        right: 0;
        box-shadow: 2px 0px 15px 0px rgba(0,0,0,0.5);
      }
    }
  }
}
