.c-title {
  > h1, h2, h3 {
    position: relative;
    margin: 0;
    font-family: $font-family-2;
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    color: $color-1;

    @media #{$mq-tablet} {
      font-size: $font-size-big;
    }
  }

  > h4,
  > h4 > a {
    margin: 0;
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
    color: $color-1;
    text-transform: uppercase;
    text-decoration: none;
  }

  &.-mega {
    > h1, h2, h3 {
      font-family: $font-family-1;
      font-weight: $font-weight-light;
      font-size: $font-size-big;

      @media #{$mq-mobile-large} {
        font-size: $font-size-x-big;
      }

      @media #{$mq-tablet} {
        font-size: $font-size-huge;
      }
    }
  }

  &.-page {
    > h1, h2, h3 {
      font-weight: $font-weight-bold;
      font-size: $font-size-big;

      @media #{$mq-tablet} {
        font-size: $font-size-x-big;
      }
    }
  }

  &.-content {
    > h1, h2, h3 {
      font-family: $font-family-1;
      font-weight: $font-weight-bold;
      font-size: $font-size-normal;

      @media #{$mq-tablet} {
        font-size: $font-size-medium;
      }
    }
  }

  &.-mini {
    > h1, h2, h3 {
      font-family: $font-family-1;
      font-weight: $font-weight-bold;
      font-size: $font-size-small;

      @media #{$mq-tablet} {
        font-size: $font-size-normal;
      }
    }
  }

  &.-center { text-align: center; }
  &.-inverse {
    > h1,
    > h2,
    > h3,
    > h4,
    > h4 > a { color: $color-5; }
  }

  &.-border {
    > h1, h2, h3 {
      padding-bottom: 40px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 20px;
        left: 0;
        height: 3px;
        width: 120px;
        color: $color-2;
        background-color: currentColor;;

        .-theme-2 & { color: $color-4; }
        .-theme-3 & { color: $color-3; }
      }
    }

    &.-border-2 {
      & > h1, h2, h3 {
        &:after { color: $color-4; }
      }
    }

    &.-border-3 {
      & > h1, h2, h3 {
        &:after { color: $color-3; }
      }
    }

    &.-center {
      > h1, h2, h3 {
        &:after { left: calc(50% - 60px); }
      }
    }

    &.-subtitle {
      > h1, h2, h3 {
        padding-bottom: 30px;
        &:after { bottom: 10px; }
      }
    }

    &.-mega {
      > h1, h2, h3 {
        &:after {
          content: '|';
          display: inline;
          position: static;
          background-color: transparent;
        }
      }
    }
  }
}
