.c-tooltip {
  > .icon {
    display: block;
    width: 22px;
    height: 22px;

    font-family: $font-family-2;
    font-weight: $font-weight-bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: $color-1;

    cursor: pointer;
    border: 1px solid $color-10;
    border-radius: 50%;
  }
  .modal{
    > .header {
      margin-bottom: 15px;
    }
    > .content {
      display: flex;
      flex-wrap: wrap;
      > div {
        flex-basis: 100%;
        margin-bottom: 20px;

        @media #{$mq-tablet} {
          flex-basis: calc(50% - 10px);
        }
      }
      .col-r {
        display: flex;
        flex-direction: column;
        > p {
          display: block;
          font-family: $font-family-1;
          font-weight: $font-weight-normal;
          font-size: $font-size-normal;
          margin-bottom: 5px;
          >span {
            font-weight: $font-weight-bold;
          }
        }
        > .img-container {
          margin-top: auto;
          margin-bottom: 30px;
        }
        > .btn-container {
          text-align: right;
          margin-bottom: 15px;
          > button:hover {
            cursor: not-allowed;
          }
        }
      }
    }

    .chart {
      height: 400px;
    }
  }
}
