
.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  border: 2px solid #FFC94E;
  letter-spacing: 1px;
}
