
.c-partners {
  display: flex;
  flex-flow: row wrap;
}

.c-partners .logo-container {
  text-align: center;
  width: 33.33%;
  margin-bottom: 70px;
}

.c-partners .logo-container a {
  display: inline-block;
  overflow: hidden;
  box-shadow: inset 0px 0px 0 2px white;
  max-width: 200px;
}

.c-partners .logo-container img {
  display: block;
  position: relative;
  max-width: 100%;
  z-index: -1;
}

@media screen and (min-width: 319px) and (max-width: 650px) {
  .c-partners .logo-container {
    width: 50%;
    margin-bottom: 30px;
  }

  .c-partners .logo-container img {
    max-width: 50%;
  }
}
