
.c-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Intro */
.c-section.intro {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 160px 100px 210px;
  background-color: #0A2C50;
  background-image: url('../images/intro.jpg');
}

.c-section.intro .logo {
  margin-bottom: 45px;
}

.intro-title {
  position: relative;
  font-size: 62px;
  line-height: 69px;
  font-weight: bold;
  color: #fff;
  padding: 37px 0;
  text-align: center;
  margin: 0;
}

.intro-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  height: 3px;
  background-color: #FFC94E;
}


/* Description */
.c-section.description {
  padding: 0 170px;
}


/* Contact */
.c-section.contact {
  padding: 0 68px;
}


/* Footer */
.c-section.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 250px 100px 170px;
  background-color: #0A2C50;
  background-image: url('../images/intro.jpg');
}

.c-section.footer .logo {
  margin-bottom: 65px;
}

.c-section .actions {
  display: flex;
  justify-content: center;
  width: 100%;
}
